# Android Studio and Gradle stuff
.idea
.gradle
local.properties
*.iml
build/
release/
captures/
.externalNativeBuild/
.cxx/

# Eclipse project files
.classpath
.project

# General
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
